

[id="F4095150182"] .page-content {
	padding-right: 6rem;
	padding-left: 6rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

[id="F4095150182"].page {
}

[id="F4095150182"] .page-layout {
	align-items: center;
}
