[id="D1532031542"].page {
}

[id="D1532031542"] .page-content {
	padding: 0rem;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-bottom: 5rem;
}

[id="D1532031542"] .page-layout {
	padding: 0rem;
	align-items: center;
}
