

[id="A0967828573"] .page-content {
	text-align: center;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-right: 3rem;
	padding-left: 3rem;
}

[id="A0967828573"].page {
	justify-content: center;
}

[id="A0967828573"] .page-layout {
	align-items: center;
}
