[id="Q0086583170"] .page-content {
	border-radius: 0rem;
	border-style: solid;
	border-width: 0rem;
	text-align: center;
	width: 100%;
	padding: 0.0rem;
	align-items: center;
}

[id="Q0086583170"] .page-layout {
	padding: 0rem;
	max-width: 100%;
	align-items: center;
}

[id="Q0086583170"].page {
	min-height: var(--viewport-height);
}

[id="Q0086583170"] .backdrop {
}

.mobile [id="Q0086583170"] .backdrop {
}

.mobile [id="Q0086583170"] .page-layout {
}