

[id="Q3758483187"] .page-content {
	padding: 5rem;
	text-align: center;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-right: 3rem;
	padding-left: 3rem;
}

[id="Q3758483187"].page {
	justify-content: center;
}

[id="Q3758483187"] .page-layout {
	padding: 0rem;
	align-items: center;
}
